@model DirectoryExample.Models.Employee

<div>
    <div class="modal-header">
        <h3 class="modal-title">Customer: @Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x=>x.LastName)</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form">
            Title: @Html.DisplayFor(x => x.Title) <br />
            DOB: @Html.DisplayFor(x => x.BirthDate) <br />
            Hire Date: @Html.DisplayFor(x => x.HireDate) <br />
            Address: @Html.DisplayFor(x => x.Address) <br />
            Country: @Html.DisplayFor(x => x.Country) <br />
            Region: @Html.DisplayFor(x => x.Region) <br />
            City: @Html.DisplayFor(x=>x.City) <br />
            PostalCode: @Html.DisplayFor(x=>x.PostalCode) <br />
            Phone: @Html.DisplayFor(x=>x.HomePhone) <br />
            Notes: @Html.DisplayFor(x=>x.Notes) <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
